#scenes-movies-relate .container-frame {
  background: rgba(0, 0, 0, 0.5);
}
#scenes-movies-relate.frame-small {
  height: 205px;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5%;
  margin-right: 5%;
}
#scenes-movies-relate.frame-small li {
  list-style: none;
  opacity: 1;
  border: 0px;
  border-radius: 0px;
  float: left;
  width: 115px;
  height: 100%;
  margin: 15px;
  padding: 0;
  background: transparent;
  color: #ddd;
  text-align: center;
  cursor: pointer;
}
#scenes-movies-relate.frame-small li .thumbnail {
  display: block;
  padding: 0px;
  line-height: 1.846;
  background: transparent;
  opacity: 1;
  border: 0px solid #ddd;
  margin-bottom: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 10px;
}
#scenes-movies-relate.frame-small li .thumbnail img {
  width: 115px;
  height: 172px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 10px;
}
#scenes-movies-relate.frame-small li .thumbnail:focus {
  outline: none;
  z-index: 9999;
  background: transparent;
  opacity: 1;
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.8);
}
#scenes-movies-relate.frame-small li .thumbnail .title-item {
  margin: 0px;
  position: absolute !important;
  width: 115px;
  top: 145px;
  color: #fff;
  background: rgba(243, 111, 33, 0.8);
}
#scenes-movies-relate.frame-small li .thumbnail .title-item h6 {
  color: #fff;
  vertical-align: middle;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
